## 3.1 Lists

In [1]:
### Lists are like arrays, but can contain heterogeneous items. 
## A single list can contain items of type integer, float, string, or objects. 
### It is also not a unique set of items, that is, the values can repeat. 
### Lists are generally initialized with values specified inside square brackets.

In [2]:
### Create an Empty List
EmptyList= []

In [3]:
### Creating a Non-Empty List
## List of Batsmen in the Indian Cricket Team in the order of batting.
Batsmen = ['Shikhar', 'Rohit','Virat','Shreyas','Rahul','Hardik']

In [4]:
### Indexing in a List
## The List Index starts with 0. An item in the list can be accessed using [].
Batsmen[0]

'Shikhar'

In [5]:
### Slicing a List
## A slice of List can be obtained using an index range separated by a colon (:).
## A range [0:3] means starting with index 0 until 3, but not including 3.
Batsmen[0:3]

['Shikhar', 'Rohit', 'Virat']

In [6]:
### Accessing the Last Element in a List.
## To find the last element of a List, an index value of –1 can be used.
Batsmen[-1]

'Hardik'

In [7]:
### Number of Elements in the List
## To find number of elements in the list, use the function called len().
len(Batsmen)

6

In [8]:
### Concatenation of Lists
## Two separate lists can be concatenated into one list using + operator.
AllRounders = ['Jadeja','Ashwin']
Bowlers = ['Bhuvneshwar','Shami','Jaspreet']
All_Players = Batsmen + AllRounders + Bowlers
All_Players

['Shikhar',
 'Rohit',
 'Virat',
 'Shreyas',
 'Rahul',
 'Hardik',
 'Jadeja',
 'Ashwin',
 'Bhuvneshwar',
 'Shami',
 'Jaspreet']

In [9]:
### Finding if an item exists in a list or not, the 'in' operator can be used. 
## It returns True if exists, else returns False.

In [10]:
'Jadeja' in Batsmen

False

In [11]:
'Ashwin' in AllRounders

True

In [12]:
### Finding the Index of an Item in the List.
All_Players.index('Hardik')

5

In [13]:
### Items in a list can be arranged in reverse order by the reverse() function.
All_Players.reverse()
All_Players

['Jaspreet',
 'Shami',
 'Bhuvneshwar',
 'Ashwin',
 'Jadeja',
 'Hardik',
 'Rahul',
 'Shreyas',
 'Virat',
 'Rohit',
 'Shikhar']

In [14]:
All_Players.reverse()
All_Players

['Shikhar',
 'Rohit',
 'Virat',
 'Shreyas',
 'Rahul',
 'Hardik',
 'Jadeja',
 'Ashwin',
 'Bhuvneshwar',
 'Shami',
 'Jaspreet']

## 3.2 Tuples

In [15]:
## Tuple is also a list, but it is immutable. 
## Once a tuple has been created, it cannot be modified.

In [16]:
## Create a Tuple with name of a cricketer and the year of his ODI debut.
ODI_Debut = ('Virat','2008')
ODI_Debut

('Virat', '2008')

In [17]:
## Tuple element’s Index also starts with 0.
ODI_Debut[0]

'Virat'

In [18]:
ODI_Debut[1]

'2008'

In [19]:
## It is not allowed to change the tuple elements. 
## Ex: If we try to change the year in the tuple, it will give an error.

ODI_Debut[1] = 2009

TypeError: 'tuple' object does not support item assignment

In [20]:
### An existing list can be converted into tuple using 'tuple'. 
## We convert All_Players list into tuple, so it cannot be modified anymore.
TeamIndia = tuple(All_Players)
TeamIndia

('Shikhar',
 'Rohit',
 'Virat',
 'Shreyas',
 'Rahul',
 'Hardik',
 'Jadeja',
 'Ashwin',
 'Bhuvneshwar',
 'Shami',
 'Jaspreet')

## Set

In [ ]:
## A Set is a collection of unique elements, that is, the values cannot repeat. 
## A Set can be initialized with a list of items enclosed with curly brackets.
## Set automatically removes duplicates & contains only unique list of numbers.
## The Set supports Operations such as Union, Intersection, and Difference.

In [21]:
SetofNumbers = {6,1,1,2,4,5}
SetofNumbers

{1, 2, 4, 5, 6}

In [22]:
WC2011 ={"Sehwag","Tendulkar","Gambhir","Virat","Raina","Yuvraj","Dhoni"}
WC2015 ={"Shikhar","Rohit","Ajinkya","Virat","Raina","Jadeja","Dhoni"}

In [23]:
## To find list of all Batsmen who played in either 2011 or 2015 World Cup, 
# we can take 'union' of the above two sets.
WC2011.union(WC2015)

{'Ajinkya',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Raina',
 'Rohit',
 'Sehwag',
 'Shikhar',
 'Tendulkar',
 'Virat',
 'Yuvraj'}

In [24]:
## To find the list of all Batsmen who played for both 2011 and 2015 World Cup, 
# we can take 'intersection' of these two sets WC2011 and WC2015.
WC2011.intersection(WC2015)

{'Dhoni', 'Raina', 'Virat'}

In [25]:
## If we need to find the new batsmen who were not part of 2011 world cup and 
# played in 2015 world cup, we take 'difference' of wc2011 from wc2015.
WC2015.difference(WC2011)

{'Ajinkya', 'Jadeja', 'Rohit', 'Shikhar'}

## 3.3 Dictionary

In [ ]:
### 1. Dictionary is a list of Key and Value pairs. 
## 2. All the Keys in a dictionary are unique.
## Example: A Dictionary can contain the ICC ODI World Cup Winners wherein
# Key is Year of Tournament and Value is the Name of Winnning Country Team.
## 3. The value of a specific Dictionary element can be accessed by Key.

In [26]:
WC_Winners = { 1975: "West Indies",
              1979: "West Indies",
              1983: "India",
              1987: "Australia",
              1991: "Pakistan",
              1996: "Sri Lanka",
              2003: "Australia",
              2007: "Australia",
              2011: "India",
              2015: "Australia"}

In [27]:
## To find the WC Winning Country in a specific year.
WC_Winners[2011]

'India'

In [28]:
## For a list of all Winning Countries this can be used.
WC_Winners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Sri Lanka', 'Australia', 'Australia', 'India', 'Australia'])

In [29]:
## The above list had repeated names as few have won multiple times. 
## To find unique list of countries, the above list can be converted to a set.
set(WC_Winners.values())

{'Australia', 'India', 'Pakistan', 'Sri Lanka', 'West Indies'}

In [30]:
## To Add a new Key-Value pair to the Dictionary.
WC_Winners[2019] = "England"
WC_Winners

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Australia',
 1991: 'Pakistan',
 1996: 'Sri Lanka',
 2003: 'Australia',
 2007: 'Australia',
 2011: 'India',
 2015: 'Australia',
 2019: 'England'}